/* Main Page */

body {
	font-family: 'Orbitron', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

#ribbon-background {
	z-index: -1;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

#triangles-background {
	z-index: -2;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.navbar {
	margin: 0.75rem 0;
	display: flex;
	justify-content: space-around;
	height: 5rem;
}

.navbar .navbar-item {
	width: calc(100vw / 3 - 10vw);

}

.button {
    position: relative;
    cursor: pointer;
}

.button .button-text-reverse {
	direction: rtl;
	text-align: right;
	color: white;
	background-color: black;
	font-size: 2.5rem;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 0.75rem solid black;
	border-right: 0.75rem solid black;
	transition: width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 0rem;
	height: calc(100% - 0.75rem);
	overflow: hidden;
	white-space: nowrap;
}

.button .button-text {
	text-align: right;
	font-size: 2.5rem;
	position: relative;
	height: calc(100% - 0.75rem);
	border-top: 0.75rem solid black;
	border-right: 0.75rem solid black;
}

.button .button-text:hover ~ .button-text-reverse, .button .button-text-reverse:hover {
	width: calc(100% - 0.75rem);
}

/*.navbar .navbar-item:before {
	z-index: -1;
	content: " ";
	position: absolute;
	top: calc(-0.70710678118 * (100vw / 3 - 10vw) - 1.41421356237 * 0.75rem);
	left: -0.375rem;
	height: calc(0.70710678118 * (100vw / 3 - 10vw));
	width: calc(0.70710678118 * (100vw / 3 - 10vw));
	transform-origin: 0 100%;
	transform: rotate(45deg);
	border-bottom: 0.75rem solid black;
	border-right: 0.75rem solid black;
}*/

.landing-title {
	z-index: 100;
}

.landing-title .name {
	text-align: center;
	line-height: 15rem;
	font-size: 10rem;
	margin: calc((100vh - 25rem) / 2) 20% 0;
	border: 0.75rem solid black;
}

.footer {
	position: absolute;
	bottom: 0.75rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 5rem;
}

.inverse-button {
    position: relative;
    cursor: pointer;
}

.footer .footer-item {
	width: calc(100vw / 3 - 10vw);
}

.inverse-button .inverse-button-text {
	font-size: 2.5rem;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 0.75rem);
	height: calc(100% - 0.75rem);
	border-bottom: 0.75rem solid black;
	border-left: 0.75rem solid black;
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.inverse-button .inverse-button-text-reverse {
	color: white;
	background-color: black;
	font-size: 2.5rem;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 0.75rem solid black;
	border-left: 0.75rem solid black;
	transition: width 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 0rem;
	height: calc(100% - 0.75rem);
	overflow: hidden;
	white-space: nowrap;
}

.inverse-button .inverse-button-text:hover ~ .inverse-button-text-reverse, .inverse-button-text-reverse:hover {
	width: calc(100vw / 3 - 10vw - 0.75rem);
}

/* About Page */

.back {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: 15rem;
}

h2 {
    font-size: 5em;
    border: 0.75rem solid black;
    text-align: center;
    margin: 5rem 35%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin: auto 20%;
    position: relative;
    padding: 0.5rem;
}

.intro:before {
    content: " ";
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    width: 5rem;
    height: 5rem;
    border-top: 0.75rem solid black;
    border-left: 0.75rem solid black;
}

.intro:after {
    content: " ";
    position: absolute;
    bottom: -0.75rem;
    right: -0.75rem;
    width: 5rem;
    height: 5rem;
    border-bottom: 0.75rem solid black;
    border-right: 0.75rem solid black;
}